$white:			#FFFFFF;
$black:			#000000;
$txt-black:		#1f2533;
$gray-lighter:	#FAFAFA; // Backgrounds
$gray-light:	#c8c7cc; // Icons
$gray:			#aeb3b7; // Texts
$gray-dark:		#999999; // Small texts
$gray-darker:	#666666; // Image caption texts

